* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.p {
  font-family: "Inter", sans-serif;
}
/* shared style*/
.container {
  width: 1140px;
  margin: 0 auto;
  font-family: "Noto Serif", serif;
}
/* nav style*/
.navbar {
  display: flex;
  justify-content: space-between;
}
.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.list-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: #8987a1;
}
/* banner style*/
.banner {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 100px;
  background-color: ;
}
.banner-title {
  font-weight: bold;
  font-size: 4rem;
}
.color-style {
  color: #e95a08;
}
.banner-pera {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 100;
  font-size: 22px;
}
/* plant style*/
.our-plant {
  text-align: center;
  margin-top: 100px;
}
.our-plant h3 {
  font-size: 3rem;
  font-weight: 800;
}
.our-plant p {
  font-size: 22px;
  font-weight: 100;
}
/*card style*/
.lily-blossom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  margin-top: 80px;
}
.card {
  width: 270px;
  height: 484px;
  border: 1px solid white;
}
.lily-blossom h4 {
  font-size: 22px;
  font-weight: 400;
  margin-top: 10px;
}
.lily-blossom p {
  font-size: 22px;
  font-weight: bold;
  color: #111111;
  margin-top: 10px;
}
.btn {
  background-color: #e95a08;
  color: white;
  font-weight: bold;
  padding: 14px;
  border: none;
  margin-top: 10px;
  width: 270px;
}
/* plant lover*/
.plant-lover {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 50px;
  margin-top: 50px;
  position: relative;
}
.badge {
  width: 200px;
  height: 200px;
  padding: 10px;
  position: absolute;

  left: 410px;
  top: -100px;
}
.lover-h3 {
  font-weight: bold;
  font-size: 3rem;
}
.plant-pera {
  font-weight: 100;
  font-size: 22px;
}
.deal {
  text-align: center;
  margin-top: 80px;
}
.deal h2 {
  font-size: 3rem;
  font-weight: bold;
}
